.googlelogo {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 300px;
    height: 100px;
    margin-top: -100px;
    margin-left: -167px;
}

.upperbuttons {
    position: absolute;
    top: 0;
    right: 5%;
    width: 300px;
    margin-top: 40px;
}

.searchbarpos {
    position: absolute;
    left: 42%;
    top: 60%;
    width: 300px;
    height: 100px;
    margin-top: -100px;
    margin-left: -165px;
}

.footer {
    position: absolute;
    top: 90%;
    color: rgb(238, 56, 56);
    right: 47%;
}
#searchbar {
    border-radius: 25px;
    border: 2px solid rgb(82, 78, 78);
    padding: 20px; 
    width: 500px;
    height: 15px; 
}

#button1 {
    position: absolute;
    left: 35%;
    top: 60%;
}

#button2 {
    position: absolute;
    left: 85%;
    top: 60%;
}

#imagesearch {
    position: absolute;
    left: 70%;
    top: 60%;
}